.day {
  position: relative;
  border: 1px solid black;
  height: calc(100% / 6);
  width: calc(100% / 7);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: lightgray;

  &_currMonth {
    background: white;
  }

  &_active {
    background: lightgreen;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__events {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  &__deleteButton {
    bottom: 15px;
    /* left: 15px; */
  }

  &__addButton {
    /*  left: 15px; */
  }
}
