.description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5px;
  font-size: 14px;
  line-height: 16px;
  height: 20px;

  &__text {
    max-width: calc(100% - 25px);
    display: flex;
    gap: 5px;
    transition: 0.3s ease-in-out;

    &:hover {
      background: lightblue;
      cursor: pointer;
      transform: scale(1.02);
    }

    &Description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &Time {
      min-width: 70px;
      white-space: nowrap;
    }
  }

  &__delete {
    left: 0;
  }

  &__item {
  }
}
